<li class="nav-item">
    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" onclick=" cargadorModulo('app', 'resumenes', 'selector');">Resumenes</a>
  </li>
<li class="nav-item">
        <a class="nav-link" href="#" onclick=" cargadorModulo('app', 'clientes', 'clientes');">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick=" cargadorModulo('app', 'minuto', 'listado');">Minuto Feliz</a>
      </li>
      <li class="nav-item">
          <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" onclick=" cargadorModulo('app', 'categorias', 'categorias');">Categorias</a>
        </li>
      <li class="nav-item">
          <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" onclick=" cargadorModulo('app', 'sorteos', 'listado');">Sorteos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" onclick=" cargadorModulo('app', 'locales', 'listado');">Locales</a>
        </li>
  
