<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#osorno" role="tab" aria-controls="home"
            aria-selected="true">Osorno</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#coyhaique" role="tab" aria-controls="profile"
            aria-selected="false">Coyhaique</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#todo" role="tab" aria-controls="contact"
            aria-selected="false">Todos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#agregar" role="tab" aria-controls="contact"
            aria-selected="false">Agregar</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="osorno" role="tabpanel" aria-labelledby="home-tab">

        <div class="row">


            <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                <table class="table table-bordered table-striped">
                    <tbody id="minutoOsorno">

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="coyhaique" role="tabpanel" aria-labelledby="profile-tab">

        <div class="row fondoUno">

            <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                <table class="table table-bordered table-striped">
                    <tbody id="minutoCoyhaique">
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <div class="tab-pane fade" id="todo" role="tabpanel" aria-labelledby="contact-tab">


        <div class="col-12" style="max-height:400px; overflow-y: scroll;">
            <table class="table table-bordered table-striped">
                <tbody id="minutoTodos">

                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="agregar" role="tabpanel" aria-labelledby="profile-tab">
        <div class="col-12">
            <form class="row" onsubmit="test(horaInicio.value,horaFinal.value,local.value,premio.value); return false">



                <div class="col-6 col-sm-5 ">
                    <label for="horaInicio">Hora Inicio</label>
                    <input type="time" class="form-control" id="horaInicio" required>
                </div>
                <div class="col-6 col-sm-5 ">
                    <label for="horaFinal">Hora Termino</label>
                    <input type="time" class="form-control" id="horaFinal" required>
                </div>
                <div class="col-6 col-sm-5 ">
                    <label for="local">Local</label>
                    <select id="local" name="local" class="form-control">
                        <option value="osorno">Osorno</option>
                        <option value="coyhaique">Coyhaique</option>
                    </select>
                </div>
                <div class="col-6 col-sm-6">
                    <label for="premio">MontoCupon</label>
                    <input type="text" class="form-control" id="premio" placeholder="Cual es el premio?" required>
                </div>
                <div class="col-12 col-sm-6" style="margin-top:30px;">
                    <button type="button" class="btn btn-primary"
                        onclick="  cargadorModulo('app', 'minuto', 'listado')">Volver</button>
                    <button type="submit" id="boton" class="btn btn-success">Registrar</button>
                </div>

            </form>
        </div>
    </div>
</div>


</div>

<div class="modal fade" id="modalClientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Listado Minuto Feliz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <select class="form-control" onchange="filtrarMinutoLocal(this.value)">
                            <option>
                                Todos
                            </option>
                            <option value="osorno">
                                Osorno
                            </option>
                            <option value="coyhaique">
                                Coyhaique
                            </option>
                        </select>
                    </div>

                    <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                        <table class="table table-bordered table-striped">
                            <tbody id="cuerpoClienteM">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function registrarMinuto(horaInicio, horaFinal, local, premio) {
        $('#boton').attr("disabled", true);
        db.collection("sorteos").add({
            tipoSorteo: "minutoFeliz",
            modalidadSorteo: 'automatico',
            premio: premio,
            fecha: '',
            horaInicio: horaInicio,
            horaFinal: horaFinal,
            local: local,
            estado: true,
            id: "",
            nombre: "",
            rut: "",
            hora: horaInicio,
            local: local,
            estado: true,
            id: '',
            ganadorMaquina: '',
            ganadorCliente: '',
            lanzado: false
        }).then(function (datos) {
            $('#horaInicio').val("")
            $('#horaFinal').val("")
            $('#premio').val("")
            $('#boton').removeAttr("disabled");
            cargarTablaMinuto();
        })
    }

    function test(horaInicio, horaFinal, local, premio) {
        horaInicioM = calcularHoraEnMin(horaInicio)
        horaFinalM = calcularHoraEnMin(horaFinal)
        if (horaInicioM < horaFinalM) {
            registrarMinuto(horaInicio, horaFinal, local, premio)
        } else {
            alert("La hora de termino debe ser mayor a la de inicio")
        }
    }

    function cargarTablaMinuto() {
        db.collection("sorteos").orderBy("horaInicio", "asc").get()
            .then(function (queryCup) {
                contenidoTableO = "";
                contenidoTableC = "";
                contenidoTableT = "";
                queryCup.forEach(function (docCup) {
                    if (docCup.data().tipoSorteo == "minutoFeliz") {
                        console.log("ceee--------------------")

                        clase = ''
                        hora = '';
                        hora = docCup.data().hora;
                        if (docCup.data().estado == true) {
                            status = ""

                        } else {
                            status = "text-decoration: line-through;"
                        }
                        if (docCup.data().local == "osorno") {
                            contenidoTableO += `
                    <tr  style="` + status + `">
                    <td style="font-weight:600;">` + docCup.data().premio + ` <p> ` + docCup.data().local + `</p> </td>
                    <td style="font-weight:600;"> `+ docCup.data().horaInicio + `</td>
                    <td style="font-weight:600;">`+ docCup.data().horaFinal + `</td>
                    <td> <button class="btn btn-danger" onclick="eliminarMinuto('`+ docCup.id + `')">X</button>
                         </td>
                    </tr>`
                        } else {
                            contenidoTableC += `
                    <tr  style="` + status + `">
                    <td > ` + docCup.data().premio + ` <p> ` + docCup.data().local + `</p> </td>
                    <td style="font-weigth:600;"> `+ docCup.data().horaInicio + `</td>
                    <td >`+ docCup.data().horaFinal + `</td>
                    <td> <button class="btn btn-danger" onclick="eliminarMinuto('`+ docCup.id + `')">X</button>
                          </td>
                    </tr>`
                        }
                        contenidoTableT += `
                    <tr  style="` + status + `">
                    <td  style="font-weight:600;">  ` + docCup.data().premio + `</label> <p> ` + docCup.data().local + `</p> </td>
                    <td style="font-weight:600;"> `+ docCup.data().horaInicio + `</td>
                    <td  style="font-weight:600;">`+ docCup.data().horaFinal + `</td>
                    <td style="font-weight:600;"> <button class="btn btn-danger" onclick="eliminarMinuto('`+ docCup.id + `')">X</button>
                        </td>
                    </tr>`
                    }
                });
                $('#minutoOsorno').html(contenidoTableO);
                $('#minutoCoyhaique').html(contenidoTableC);
                $('#minutoTodos').html(contenidoTableT);
            });
    }
    cargarTablaMinuto();

    function eliminarMinuto(aidi) {
        var r = confirm("Esta seguro que desea eliminar el Minuto Feliz?");
        if (r == true) {
            db.collection("sorteos").doc(aidi).delete().then(function () {
                cargarTablaMinuto()
            }).catch(function (error) {
            });
        }
    }
</script>