
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sucursales</li>
    </ol>
</nav>

<div class="row" id="cuerpoSucursales">

    
</div>
<script src="./modulos/sucursales/sucursal.js"></script>