<div class="col-12">
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   
                    <li class="breadcrumb-item " aria-current="page">Sucursales</li>
                    <li class="breadcrumb-item " aria-current="page" ><a href="#" id="sucursalSeleccionada">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page" >Clientes</li>
                
                </ol>
            </nav>
</div>

<div class="col-12">
        <form class="row" onsubmit="registrarCliente(nombre.value,apellido.value,rut.value,dv.value, clasificacion.value,local.value); return false">
                <div class="col-12 col-sm-6">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre"  placeholder="Ingrese el nombre del cliente" required>
                </div>
                <div class="col-12 col-sm-6">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido"  placeholder="Ingrese el nombre del cliente" required>
                      </div>
                      <div class="col-9 col-sm-5 " >
                            <label for="rut">Rut</label>
                            <input type="number" class="form-control" id="rut"  placeholder="Ingrese el Rut del cliente" required>
                          </div>
                   
                          <div class="col-3 col-sm-1">
                                <label for="dv">dv</label>
                                <input type="text" class="form-control" id="dv" >
                              </div>
                              <div class="col-12 col-sm-3">
                                    <label for="clasificacion">Clasificacion</label>
                                    <select id="clasificacion" class="form-control">
                                        <option  value="Bronce" selected>Bronce</option>
                                        <option  value="Silver" selected>Silver</option>
                                        <option value="Golden">Golden</option>
                                        <option value="Platinium">PLatinium</option>
                                        </select>
                                  </div>
                                  <div class="col-12 col-sm-3">
                                        <label for="local">Local</label>
                                        <select id="local" class="form-control">
                                            <option  value="osorno" selected>Osorno</option>
                                            <option value="coyhaique">Coyhaique</option>
                             
                                            </select>
                                      </div>
          
                                  <div class="col-12 col-sm-6"  style="margin-top:30px;">
                                        <button type="button" class="btn btn-primary" onclick="  cargadorModulo('app', 'clientes', 'clientes')">Volver</button>
                                        <button type="submit" class="btn btn-success">Registrar</button>
                                      </div>
                
              </form>
</div>