<script src="./modulos/clientes/clientes.js"></script>
<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#todo" role="tab" aria-controls="contact"
                    aria-selected="false">Todos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="home-tab" data-toggle="tab" href="#osorno" role="tab" aria-controls="home"
                    aria-selected="true" onclick="dibujarLocals('osorno')">Osorno</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#coyhaique" role="tab"
                    aria-controls="profile" aria-selected="false" onclick="dibujarLocals('coyhaique')">Coyhaique</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#agregar" role="tab"
                    aria-controls="contact" aria-selected="false">Agregar</a>
            </li>

        </ul>
    </div>
    <div class="col-12">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane  show " id="osorno" role="tabpanel" aria-labelledby="home-tab">

                <div class="row">

                    <input type="text" class="form-control" onkeyup="dibujarClientesNomLoc(this.value,'osorno'); "
                        placeholder="Nombre...">
                    <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                        <table class="table table-bordered table-striped">
                            <tbody id="cuerpoosorno">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade " id="coyhaique" role="tabpanel" aria-labelledby="profile-tab">

                <div class="row fondoUno">
                    <input type="text" class="form-control" onkeyup="dibujarClientesNomLoc(this.value,'coyhaique'); "
                        placeholder="Nombre...">
                    <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                        <table class="table table-bordered table-striped">
                            <tbody id="cuerpocoyhaique">
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade show active" id="todo" role="tabpanel" aria-labelledby="contact-tab">

                <input type="text" class="form-control" onkeyup="dibujarClientesNom(this.value); "
                    placeholder="Nombre...">
                <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                    <table class="table table-bordered table-striped">
                        <tbody id="cuerpoCliente">

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="agregar" role="tabpanel" aria-labelledby="profile-tab">
                <div class="col-12">
                    <form class="row"
                        onsubmit="registrarCliente(nombre.value,apellido.value,rut.value,dv.value, clasificacion.value,local.value); return false">
                        <div class="col-12 col-sm-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre"
                                placeholder="Ingrese el nombre del cliente" required>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido"
                                placeholder="Ingrese el nombre del cliente" required>
                        </div>
                        <div class="col-9 col-sm-5 ">
                            <label for="rut">Rut</label>
                            <input type="number" class="form-control" id="rut" placeholder="Ingrese el Rut del cliente"
                                required>
                        </div>

                        <div class="col-3 col-sm-1">
                            <label for="dv">dv</label>
                            <input type="text" class="form-control" id="dv">
                        </div>
                        <div class="col-12 col-sm-3">
                            <label for="clasificacion">Clasificacion</label>
                            <select id="clasificacion" class="form-control">
                                <option value="Bronce" selected>Bronce</option>
                                <option value="Silver" selected>Silver</option>
                                <option value="Golden">Golden</option>
                                <option value="Platinium">PLatinium</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-3">
                            <label for="local">Local</label>
                            <select id="local" class="form-control">
                                <option value="osorno" selected>Osorno</option>
                                <option value="coyhaique">Coyhaique</option>

                            </select>
                        </div>

                        <div class="col-12 col-sm-6" style="margin-top:30px;">
                            <button type="button" class="btn btn-primary"
                                onclick="  cargadorModulo('app', 'clientes', 'clientes')">Volver</button>
                            <button type="submit" class="btn btn-success">Registrar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>




</div>

<div class="modal fade" id="modalClientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ListadoClientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <select class="form-control" onchange="dibujarClientesLocalM(this.value)">
                            <option>
                                Todos
                            </option>
                            <option value="osorno">
                                Osorno
                            </option>
                            <option value="coyhaique">
                                Coyhaique
                            </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" onkeyup="dibujarClientesNomM(this.value); "
                            placeholder="Nombre...">
                    </div>
                    <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                        <table class="table table-bordered table-striped">
                            <tbody id="cuerpoClienteM">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="guardarSeleccionado()"
                    id="botonModal" style="display:none;">Seleccionar</button>
            </div>
        </div>
    </div>
</div>
</div>



</div>

<script>

    function seleccionarGanador(id, nombre, apellido, rut, local) {
        var r = confirm("Esta seguro que desea selecionar como ganador?" + local);
        if (r == true) {
            var refCli = db.collection("cuponera").doc(local);
            return refCli.update({
                id: id,
                nombre: nombre + " " + apellido,
                rut: rut
            }).then(() => {
                dibujarClientes();
            })

        }

    }


    function cambiarEstado(id, estado) {
        if (estado) {
            state = false
        } else {
            state = true
        }

        var refCupon = db.collection("clientes").doc(id);
        return refCupon.update({
            estado: state
        })


    }

    function desactivar(id, hab) {

        if (hab) {
            state = false
        } else {
            state = true
        }

        var refCupon = db.collection("clientes").doc(id);
        return refCupon.update({
            deshabilitado: state
        })


    }

    function dibujarClientesLocal(locals) {
        clase = ''
        hora = '';
        mont = 0;
        locals = locals.toLowerCase();
        if (locals == "todos") {
            dibujarClientes()
        } else {
            contadorClientes = 0;
            contentClientes = "";
            listClientes.sort(function (x, y) {
                // true values first
                return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
                // false values first
                // return (x === y)? 0 : x? 1 : -1;

            });
            listClientes.forEach(function (dats) {
                contadorClientes++;
                if (dats.estado == true) {
                    check = "checked"
                } else {
                    check = ""
                }
                if (dats.deshabilitado == true) {
                    desac = "text-decoration: line-through;"
                } else {
                    desac = ""
                }
                if (dats.cupon == true) {
                    clase = 'table-success'
                    hora = dats.hora
                    //<i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                    trofeo = `
        
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
                } else {
                    clase = ''
                    hora = ''
                    //         <i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                    trofeo = `
   
              `
                }

                if (dats.id == idWinner) {
                    clase2 = "bg-primary"
                } else {
                    if (dats.id == idWinnerC) {
                        clase2 = "bg-primary"
                    } else {
                        clase2 = ""
                    }
                }


                if (locals == dats.sucursal) {
                    mont += parseInt(dats.monto)
                    switchCuerpo = `
            <input type="checkbox"  style="font-size:150%; width:30px;"onclick="desactivar('`+ dats.id + `',` + dats.deshabilitado + `)" id="des` + dats.id + `" ` + swDesha + `>
            `
                    contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `">
                <td style="width:30%;" class="`+ clase2 + `" onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)"> ` + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;"> `+ dats.rut + `  ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:15%;">`+ switchCuerpo + `</td>  
                <td style="width:10%;">
                `+ trofeo + `
                </td>
                </tr>`
                }

            })

            $("#contadorClientes").html(contadorClientes)
            $('#cuerpoCliente').html(contentClientes);
            $('#totalCupones').html(mont)
        }

    }
    function dibujarLocals(locals) {
        mont = 0;
        clase = ''
        hora = '';
        contadorClientes = 0;
        contentClientes = "";
        listClientes.sort(function (x, y) {
            return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
        });
        listClientes.forEach(function (dats) {
            console.log(locals + "dddd")
            if (dats.sucursal == locals) {
                mont += parseInt(dats.monto)
                contadorClientes++;
                if (dats.estado == true || dats.minuto == true) {
                    check = "checked"

                } else {

                    check = ""
                }
                if (dats.deshabilitado == true) {
                    desac = "text-decoration: line-through;"
                } else {
                    desac = ""
                }
                if (dats.cupon == true) {

                    estilo = ""
                    if (dats.estado == false) {
                        clase = ""
                        estilo = "background-color: rgba(33, 44, 44, 0.3);"
                    } else {
                        estilo = ""
                        clase = 'table-success'

                    }


                    hora = dats.hora
                    // <i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                    trofeo = `
           
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
                } else {
                    clase = ''
                    estilo = ""
                    hora = ''
                    //            <i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                    trofeo = `

              `

                    if (dats.estado == false) {
                        clase = ""
                        estilo = "background-color: rgba(33, 44, 44, 0.3);"
                    } else {
                        estilo = ""
                        clase = 'table-success'

                    }
                }

                if (dats.minuto == true) {
                    trofeo = `
           
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
                }
                if (dats.id == idWinner) {
                    clase2 = "bg-primary"
                } else {
                    if (dats.id == idWinnerC) {
                        clase2 = "bg-primary"
                    } else {
                        clase2 = ""
                    }
                }

                if (dats.deshabilitado == true) {
                    swDesha = "checked"
                } else {
                    swDesha = ""
                }
                if (dats.minuto == true) {
                    minDis = '<i class="far fa-smile-wink"></i>'
                } else {
                    minDis = ""
                }
                funcion = `onclick="abrirModalSorteos(' ` + dats.nombre + ` ` + dats.apellido + `',' ` + dats.rut + `','` + dats.id + `','` + dats.sucursal + `')"  `
                if (dats.ganador == true) {
                    clase = "table-warning"
                }
                switchCuerpo = `
            <input type="checkbox"  style="font-size:150%; width:30px;"onclick="desactivar('`+ dats.id + `',` + dats.deshabilitado + `)" id="des` + dats.id + `" ` + swDesha + `>
            `
                contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `">
                <td style="width:30%;" class="`+ clase2 + `" onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)"> ` + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;"> <span `+ funcion + `>` + dats.rut + ` </span> ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:15%;">`+ switchCuerpo + `</td>  
                <td style="width:10%;">
                `+ trofeo + `
                `+ minDis + `
                
                </td>
                </tr>`
            }
        })

        $('#cuerpo' + locals).html(contentClientes);

    }

    function dibujarClientes() {
        mont = 0;
        clase = ''
        hora = '';
        contadorClientes = 0;
        contentClientes = "";
        listClientes.sort(function (x, y) {
            return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
        });

        listClientes.sort(function (x, y) {
            if(y.topCinco==true){
                return 1;
            }else{
                if(y.estado==true){
                    return 0;
                }else{
                    return -1;
                }
               
            }
          
        });
        listClientes.forEach(function (dats) {
            mont += parseInt(dats.monto)
            contadorClientes++;
            if (dats.estado == true || dats.minuto == true) {
                check = "checked"

            } else {

                check = ""
            }
            if (dats.deshabilitado == true) {
                desac = "text-decoration: line-through;"
            } else {
                desac = ""
            }
            if (dats.cupon == true) {

                estilo = ""
                if (dats.estado == false) {
                    clase = ""
                    estilo = "background-color: rgba(33, 44, 44, 0.3);"
                } else {
                    estilo = ""
                    clase = 'table-success'

                }


                hora = dats.hora
                // <i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                trofeo = `
           
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
            } else {
                clase = ''
                estilo = ""
                hora = ''
                //            <i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                trofeo = `

              `

                if (dats.estado == false) {
                    clase = ""
                    estilo = "background-color: rgba(33, 44, 44, 0.3);"
                } else {
                    estilo = ""
                    clase = 'table-success'

                }
            }

            if (dats.minuto == true) {
                trofeo = `
           
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
            }
            if (dats.id == idWinner) {
                clase2 = "bg-primary"
            } else {
                if (dats.id == idWinnerC) {
                    clase2 = "bg-primary"
                } else {
                    clase2 = ""
                }
            }

            if (dats.deshabilitado == true) {
                swDesha = "checked"
            } else {
                swDesha = ""
            }
            if (dats.minuto == true) {
                minDis = '<i class="far fa-smile-wink"></i>'
            } else {
                minDis = ""
            }
            funcion = `onclick="abrirModalSorteos(' ` + dats.nombre + ` ` + dats.apellido + `',' ` + dats.rut + `','` + dats.id + `','` + dats.sucursal + `')"  `
            if (dats.ganador == true) {
                clase = "table-warning"
            }
            switchCuerpo = `
            <input type="checkbox"  style="font-size:150%; width:30px;"onclick="desactivar('`+ dats.id + `',` + dats.deshabilitado + `)" id="des` + dats.id + `" ` + swDesha + `>
            `
            test = ""
            if (dats.topCinco == true) {
                test = "**"
            }
            contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `">
                <td style="width:30%;" class="`+ clase2 + `" onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)"> `+test + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;"> <span `+ funcion + `>` + dats.rut + ` </span> ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:15%;">`+ switchCuerpo + `</td>  
                <td style="width:10%;">
                `+ trofeo + `
                `+ minDis + `          
                </td>
                </tr>`
        })
        $("#contadorClientes").html(contadorClientes)
        $('#cuerpoCliente').html(contentClientes);
        $('#totalCupones').html(mont)
    }
    function dibujarClientesNom(nom) {
        if (nom == "") {
            dibujarClientes()
        } else {
            clase = ''
            hora = '';
            nom = nom.toLowerCase();
            mont = 0;
            contadorClientes = 0;
            contentClientes = "";
            listClientes.sort(function (x, y) {
                // true values first
                return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
                // false values first
                // return (x === y)? 0 : x? 1 : -1;

            });

            listClientesFiltro = listClientes.filter(function (el) {
                nomActual = el.nombre.toLowerCase();
                return nomActual.startsWith(nom);
            })
            listClientesFiltro.forEach(function (dats) {
                mont += parseInt(dats.monto)
                contadorClientes++;
                if (dats.estado == true) {
                    check = "checked"
                } else {
                    check = ""
                }
                if (dats.deshabilitado == true) {
                    desac = "text-decoration: line-through;"
                } else {
                    desac = ""
                }
                if (dats.estado == true) {
                    clase = 'table-success'
                    hora = dats.hora
                    //<i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>

                    trofeo = `
            
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
                } else {
                    //<i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                    clase = ''
                    hora = ''
                    trofeo = ``
                }
                if (dats.id == idWinner) {
                    clase2 = "bg-primary"
                } else {
                    if (dats.id == idWinnerC) {
                        clase2 = "bg-primary"
                    } else {
                        clase2 = ""
                    }
                }

                switchCuerpo = `
            <input type="checkbox"  style="font-size:150%; width:30px;"onclick="desactivar('`+ dats.id + `',` + dats.deshabilitado + `)" id="des` + dats.id + `" ` + swDesha + `>
            `

                funcion = `onclick="abrirModalSorteos(' ` + dats.nombre + ` ` + dats.apellido + `',' ` + dats.rut + `','` + dats.id + `','` + dats.sucursal + `')" `

                contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `">
                <td style="width:30%;" class="`+ clase2 + `"  onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)" > ` + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;" > <span `+ funcion + `>` + dats.rut + `</span>  ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:15%;">`+ switchCuerpo + `</td>  
                <td style="width:10%;">
                `+ trofeo + `
                </td>
                </tr>`
            })

            $("#contadorClientes").html(contadorClientes)
            $('#cuerpoCliente').html(contentClientes);
            $('#totalCupones').html(mont)
        }

    }

    function dibujarClientesNomLoc(nom, locc) {
        if (nom == "") {

            dibujarLocals(locc)
          
        } else {
            clase = ''
            hora = '';
            nom = nom.toLowerCase();
            mont = 0;
            contadorClientes = 0;
            contentClientes = "";
            listClientes.sort(function (x, y) {
                // true values first
                return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
                // false values first
                // return (x === y)? 0 : x? 1 : -1;

            });

            listClientesFiltro = listClientes.filter(function (el) {
                nomActual = el.nombre.toLowerCase();
                return nomActual.startsWith(nom);
            })
            listClientesFiltro.forEach(function (dats) {
                if (dats.sucursal == locc) {
                    mont += parseInt(dats.monto)
                    contadorClientes++;
                    if (dats.estado == true) {
                        check = "checked"
                    } else {
                        check = ""
                    }
                    if (dats.deshabilitado == true) {
                        desac = "text-decoration: line-through;"
                    } else {
                        desac = ""
                    }
                    if (dats.estado == true) {
                        clase = 'table-success'
                        hora = dats.hora
                        //<i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>

                        trofeo = `
            
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
                    } else {
                        //<i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                        clase = ''
                        hora = ''
                        trofeo = ``
                    }
                    if (dats.id == idWinner) {
                        clase2 = "bg-primary"
                    } else {
                        if (dats.id == idWinnerC) {
                            clase2 = "bg-primary"
                        } else {
                            clase2 = ""
                        }
                    }

                    switchCuerpo = `
            <input type="checkbox"  style="font-size:150%; width:30px;"onclick="desactivar('`+ dats.id + `',` + dats.deshabilitado + `)" id="des` + dats.id + `" ` + swDesha + `>
            `

                    funcion = `onclick="abrirModalSorteos(' ` + dats.nombre + ` ` + dats.apellido + `',' ` + dats.rut + `','` + dats.id + `','` + dats.sucursal + `')" `

                    contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `">
                <td style="width:30%;" class="`+ clase2 + `"  onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)" > ` + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;" > <span `+ funcion + `>` + dats.rut + `</span>  ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:15%;">`+ switchCuerpo + `</td>  
                <td style="width:10%;">
                `+ trofeo + `
                </td>
                </tr>`
                }

            })

 
            $('#cuerpo'+locc).html(contentClientes);
            
        }

    }


    listadoClientes = [];
    $(document).ready(function () {
        cargadorModulo("navBar", "navBar", "selecionado");
        db.collection("clientes").orderBy("hora", "desc")
            .onSnapshot(function (queryCup) {
                listClientes = [];
                contentClientes = "";
                contadorClientes = 0;
                queryCup.forEach(function (docCup) {
                    contadorClientes++;

                    listClientes.push({
                        minuto: docCup.data().minuto,
                        ganador: docCup.data().ganador,
                        id: docCup.id,
                        nombre: docCup.data().nombre,
                        apellido: docCup.data().apellido,
                        monto: docCup.data().monto,
                        rut: docCup.data().rut,
                        clasificacion: docCup.data().clasificacion,
                        sucursal: docCup.data().sucursal,
                        contador: docCup.data().contador,
                        fecha: docCup.data().fecha,
                        hora: docCup.data().hora,
                        estado: docCup.data().estado,
                        cupon: docCup.data().cupon,
                        deshabilitado: docCup.data().deshabilitado,
                        topCinco:docCup.data().topCinco
                    });

                });
                dibujarClientes();

            });

    });
</script>