<script src="./modulos/clientes/clientes.js"></script>
<div class="row">
    <div class="col-9">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active" aria-current="page"><a href="#"
                        id="sucursalSeleccionada">Clientes</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="#" id="contadorClientes"></a></li>

                <li class="breadcrumb-item active" aria-current="page"><a href="#" id="sucursalSeleccionada">Cupones</a>
                </li>
                <li class="breadcrumb-item " aria-current="page"><a href="#" id="totalCupones"></a></li>

            </ol>
        </nav>
    </div>

    <div class="col-3" style="text-align:right;">
        <button class="btn btn-success" onclick="cargadorModulo('app', 'clientes', 'agregar');"> Agregar</button>
    </div>
    <div class="col-6">
        <select class="form-control" onchange="dibujarClientesLocal(this.value)">
            <option>
                Todos
            </option>
            <option>
                Osorno
            </option>
            <option>
                Coyhaique
            </option>
        </select>

        <!-- 
<input type="text" class="form-control" onkeyup="dibujarClientesFiltroL(this.value);" placeholder="Sucursal...">

       -->
    </div>
    <div class="col-6">
        <input type="text" class="form-control" onkeyup="dibujarClientesNom(this.value); " placeholder="Nombre...">
    </div>



    <div class="col-12" style="max-height:400px; overflow-y: scroll;">
        <table class="table table-bordered table-striped">
            <tbody id="cuerpoCliente">

            </tbody>
        </table>
    </div>
</div>

<script>

    function seleccionarGanador(id, nombre, apellido, rut, local) {
        var r = confirm("Esta seguro que desea selecionar como ganador?" + local);
        if (r == true) {
            var refCli = db.collection("cuponera").doc(local);
            return refCli.update({
                id: id,
                nombre: nombre + " " + apellido,
                rut: rut
            }).then(() => {
                dibujarClientes();
            })

        }

    }

 
    function cambiarEstado(id, estado) {
        if (estado) {
            state = false
        } else {
            state = true
        }

        var refCupon = db.collection("clientes").doc(id);
        return refCupon.update({
            estado: state
        })


    }

    function desactivar(id, hab) {

        if (hab) {
            state = false
        } else {
            state = true
        }

        var refCupon = db.collection("clientes").doc(id);
        return refCupon.update({
            deshabilitado: state
        })


    }

    function dibujarClientesLocal(locals) {
        clase = ''
        hora = '';
        mont = 0;
        locals = locals.toLowerCase();
        if (locals == "todos") {
            dibujarClientes()
        } else {
            contadorClientes = 0;
            contentClientes = "";
            listClientes.sort(function (x, y) {
                // true values first
                return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
                // false values first
                // return (x === y)? 0 : x? 1 : -1;

            });
            listClientes.forEach(function (dats) {
                contadorClientes++;
                if (dats.estado == true) {
                    check = "checked"
                } else {
                    check = ""
                }
                if (dats.deshabilitado == true) {
                    desac = "text-decoration: line-through;"
                } else {
                    desac = ""
                }
                if (dats.cupon == true) {
                    clase = 'table-success'
                    hora = dats.hora
                    //<i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                    trofeo = `
        
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
                } else {
                    clase = ''
                    hora = ''
                    //         <i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                    trofeo = `
   
              `
                }

                if (dats.id == idWinner) {
                    clase2 = "bg-primary"
                } else {
                    if (dats.id == idWinnerC) {
                        clase2 = "bg-primary"
                    } else {
                        clase2 = ""
                    }
                }


                if (locals == dats.sucursal) {
                    mont += parseInt(dats.monto)
                    switchCuerpo = `
            <input type="checkbox"  style="font-size:150%; width:30px;"onclick="desactivar('`+ dats.id + `',` + dats.deshabilitado + `)" id="des` + dats.id + `" ` + swDesha + `>
            `
                    contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `">
                <td style="width:30%;" class="`+ clase2 + `" onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)"> ` + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;"> `+ dats.rut + `  ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:15%;">`+ switchCuerpo + `</td>  
                <td style="width:10%;">
                `+ trofeo + `
                </td>
                </tr>`
                }

            })

            $("#contadorClientes").html(contadorClientes)
            $('#cuerpoCliente').html(contentClientes);
            $('#totalCupones').html(mont)
        }

    }
    function dibujarClientes() {
        mont = 0;
        clase = ''
        hora = '';
        contadorClientes = 0;
        contentClientes = "";
        listClientes.sort(function (x, y) {
            return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
        });
        listClientes.forEach(function (dats) {
            mont += parseInt(dats.monto)
                contadorClientes++;
            if (dats.estado == true || dats.minuto == true) {
                check = "checked"

            } else {

                check = ""
            }
            if (dats.deshabilitado == true) {
                desac = "text-decoration: line-through;"
            } else {
                desac = ""
            }
            if (dats.cupon == true) {
            
                estilo = ""
                if (dats.estado == false) {
                    clase = ""
                    estilo = "background-color: rgba(33, 44, 44, 0.3);"
                } else {
                    estilo = ""
                    clase = 'table-success'

                }
              

                hora = dats.hora
                // <i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                trofeo = `
           
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
            } else {
                clase = ''
                estilo = ""
                hora = ''
                //            <i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                trofeo = `

              `

                if (dats.estado == false) {
                    clase = ""
                    estilo = "background-color: rgba(33, 44, 44, 0.3);"
                } else {
                    estilo = ""
                    clase = 'table-success'

                }
            }

            if (dats.minuto == true) {
                trofeo = `
           
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
            }
            if (dats.id == idWinner) {
                clase2 = "bg-primary"
            } else {
                if (dats.id == idWinnerC) {
                    clase2 = "bg-primary"
                } else {
                    clase2 = ""
                }
            }

            if (dats.deshabilitado == true) {
                swDesha = "checked"
            } else {
                swDesha = ""
            }
            if (dats.minuto == true) {
                minDis = '<i class="far fa-smile-wink"></i>'
            } else {
                minDis = ""
            }
            funcion=`onclick="abrirModalSorteos(' `+ dats.nombre + ` `+ dats.apellido + `',' `+ dats.rut + `','`+ dats.id + `','`+ dats.sucursal + `')"  `
            if (dats.ganador == true) {
                    clase = "table-warning"
                }
            switchCuerpo = `
            <input type="checkbox"  style="font-size:150%; width:30px;"onclick="desactivar('`+ dats.id + `',` + dats.deshabilitado + `)" id="des` + dats.id + `" ` + swDesha + `>
            `
            contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `">
                <td style="width:30%;" class="`+ clase2 + `" onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)"> ` + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;"> <span `+funcion+`>`+ dats.rut + ` </span> ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:15%;">`+ switchCuerpo + `</td>  
                <td style="width:10%;">
                `+ trofeo + `
                `+ minDis + `
                
                </td>
                </tr>`
        })
        $("#contadorClientes").html(contadorClientes)
        $('#cuerpoCliente').html(contentClientes);
        $('#totalCupones').html(mont)
    }
   
    function dibujarClientesNom(nom) {
        if (nom == "") {
            dibujarClientes()
        } else {
            clase = ''
            hora = '';
            nom = nom.toLowerCase();
            mont = 0;
            contadorClientes = 0;
            contentClientes = "";
            listClientes.sort(function (x, y) {
                // true values first
                return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
                // false values first
                // return (x === y)? 0 : x? 1 : -1;

            });

            listClientesFiltro = listClientes.filter(function (el) {
                nomActual = el.nombre.toLowerCase();
                return nomActual.startsWith(nom);
            })
            listClientesFiltro.forEach(function (dats) {
                mont += parseInt(dats.monto)
                contadorClientes++;
                if (dats.estado == true) {
                    check = "checked"
                } else {
                    check = ""
                }
                if (dats.deshabilitado == true) {
                    desac = "text-decoration: line-through;"
                } else {
                    desac = ""
                }
                if (dats.estado == true) {
                    clase = 'table-success'
                    hora = dats.hora
                    //<i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>

                    trofeo = `
            
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dats.id + `',` + dats.estado + `)" class="custom-control-input" id="swi` + dats.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dats.id + `"></label>
                </div>`
                } else {
                    //<i class="fas fa-trophy" onclick="seleccionarGanador('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `')" style="font-size:130%;"></i>
                    clase = ''
                    hora = ''
                    trofeo = ``
                }
                if (dats.id == idWinner) {
                    clase2 = "bg-primary"
                } else {
                    if (dats.id == idWinnerC) {
                        clase2 = "bg-primary"
                    } else {
                        clase2 = ""
                    }
                }

                switchCuerpo = `
            <input type="checkbox"  style="font-size:150%; width:30px;"onclick="desactivar('`+ dats.id + `',` + dats.deshabilitado + `)" id="des` + dats.id + `" ` + swDesha + `>
            `

            funcion=`onclick="abrirModalSorteos(' `+ dats.nombre + ` `+ dats.apellido + `',' `+ dats.rut + `','`+ dats.id + `','`+ dats.sucursal + `')" `
          
            contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `">
                <td style="width:30%;" class="`+ clase2 + `"  onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)" > ` + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;" > <span `+funcion+`>`+ dats.rut + `</span>  ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:15%;">`+ switchCuerpo + `</td>  
                <td style="width:10%;">
                `+ trofeo + `
                </td>
                </tr>`
            })

            $("#contadorClientes").html(contadorClientes)
            $('#cuerpoCliente').html(contentClientes);
            $('#totalCupones').html(mont)
        }

    }
    listadoClientes = [];
    $(document).ready(function () {
        cargadorModulo("navBar", "navBar", "selecionado");
        db.collection("clientes").orderBy("hora", "desc")
            .onSnapshot(function (queryCup) {
                listClientes = [];
                contentClientes = "";
                contadorClientes = 0;
                queryCup.forEach(function (docCup) {
                    contadorClientes++;
                
                    listClientes.push({
                        minuto: docCup.data().minuto,
                        ganador: docCup.data().ganador,
                        id: docCup.id,
                        nombre: docCup.data().nombre,
                        apellido: docCup.data().apellido,
                        monto: docCup.data().monto,
                        rut: docCup.data().rut,
                        clasificacion: docCup.data().clasificacion,
                        sucursal: docCup.data().sucursal,
                        contador: docCup.data().contador,
                        fecha: docCup.data().fecha,
                        hora: docCup.data().hora,
                        estado: docCup.data().estado,
                        cupon: docCup.data().cupon,
                        deshabilitado: docCup.data().deshabilitado
                    });

                });
                dibujarClientes();

            });

    });
</script>