<div class="row">

    <div class="col-12">
        <table class="table table">
            <thead>
                <td>Local</td>
                <td></td>
                <td><i class="fas fa-trophy"></i></td>
                <td><i class="fas fa-users"></i></td>
            </thead>
            <tbody id="cuerpoLocales">

            </tbody>
        </table>
    </div>
</div>


<script>


    function activarTeclado(locals) {
        var r = confirm("Desea ACTIVAR el teclado de" + locals + " ?");
        if (r == true) {
        
                db.collection("cuponeras").doc(locals).update({
                    teclado: true
                }).then(()=>{
                    dibujarTablaLocales()
                })
         
        }
    }
    function desactivarTeclado(locals) {
        var r = confirm("Desea DESACTIVAR el teclado de" + locals + " ?");
        if (r == true) {
           
                db.collection("cuponeras").doc(locals).update({
                    teclado: false
                }).then(()=>{
                    dibujarTablaLocales()
                })
          
        }
    }


    function dibujarTablaLocales() {
        db.collection("cuponeras").get()
            .then(function (queryCup) {
                contentLocales = "";
                contadorClientes = 0;
                queryCup.forEach(function (docCup) {
                    console.log(docCup.data())
                    if (docCup.data().estado == true) {
                        candado = `<i class="fas fa-lock-open text-success" onclick="cerrarLocal('` + docCup.id + `')"></i>`
                        hora = docCup.data().horaApertura
                    } else {
                        candado = `<i class="fas fa-lock" onclick="iniciarLocal('` + docCup.id + `')"></i>`
                        hora = docCup.data().horaCierre
                    }
                    if (docCup.data().teclado == true) {
                        botonTeclado = `<button class="btn btn-success" onclick="desactivarTeclado('` + docCup.id + `')"><i class="fas fa-keyboard"></i></button>`
                    } else {
                        botonTeclado = `<button class="btn btn-secondary" onclick="activarTeclado('` + docCup.id + `')"><i class="fas fa-keyboard"></i></button>`
                    }
                    botonGanadores = `<button class="btn btn-warning"onclick="reiniciarGanadores('` + docCup.id + `')">Reset</button>`

                    botonClientes = `<button class="btn btn-success" onclick="reiniciarClientes('` + docCup.id + `')">Reset</button>`
                    botonClientes += `<button class="btn btn-danger" onclick=" resetTopCinco('` + docCup.id + `')"><i class="fas fa-trophy "></i></button>`
                   
                    botonReparar = `<button class="btn btn-info" onclick="restaurar('` + docCup.id + `')"><i class="fas fa-tools"></i></button>`
                    contentLocales += `
                    <tr>
                <td>`+ docCup.id + ` <p> ` + hora + `</p></td>
                <td>`+ candado + ` </td>
                <td>`+ botonGanadores + ` </td>
                <td>`+ botonClientes + ` </td>
                <td> `+ botonReparar + ` ` + botonTeclado + `</td>
                    </tr>
                    `
                });

                $("#cuerpoLocales").html(contentLocales)
            });
    }

    dibujarTablaLocales();
</script>