<div class="col-12">
    <form class="row" onsubmit="filtrarResumen(fecha.value,local.value); return false">

        <div class="col-5 col-sm-5 ">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha" required>
        </div>
        <div class="col-4 col-sm-4 ">
            <label for="local">Local</label>
            <select id="local" class="form-control">
                <option value="osorno">Osorno</option>
                <option value="coyhaique">Coyhaique</option>
            </select>
        </div>
        <div class="col-3 col-sm-3 ">
            <label for="local">Buscar</label>
            <button class="btn btn-info"><i class="fas fa-search"></i></button>
        </div>
    </form>

</div>


<div class="col-12" style="overflow-y:scroll; max-height: 600px;">
    <table class="table table-bordered table-striped">
        <tbody id="cuerpoTablaResumen">

        </tbody>

    </table>
</div>

<script>
    function filtrarResumen(fecha, localss) {
        console.log(fecha)
        listadoResumen = []
        cuerpoTableResumen = ""
        acumm = 0;
        db.collection("poolCupones").where("fecha", "==", fecha).get()
            .then(function (queryCup) {
                contenidoSorteoTodos = "";
                queryCup.forEach(function (docCup) {
                    if (docCup.data().local == localss) {
                        listadoResumen.push({
                            nombre: docCup.data().nombre,
                            apellido: docCup.data().apellido,
                            rut: docCup.data().rut,
                            id: docCup.id,
                            fecha: docCup.data().fecha,
                            hora: docCup.data().hora,
                            monto: docCup.data().monto,
                            clasificacion: docCup.data().clasificacion,
                        })

                        acumm += parseInt(docCup.data().monto);
                    }


                })

                cuerpoTableResumen = `        
                <tr>
                <td> </td>
                <td> Total :</td>
                <td> `+puntos(acumm)+`</td>
                </tr>`
           
                listadoResumen.forEach(function (atata) {
                    cuerpoTableResumen += `
                    < tr >
                    <td> `+ atata.nombre + `   ` + atata.apellido + `</td>
                    <td> `+ atata.hora + ` </td>
                    <td> `+ puntos(atata.monto) + ` <p>` + atata.clasificacion + ` </p></td>
                    </tr >
                    `
                })
                $('#cuerpoTablaResumen').html(cuerpoTableResumen)
            })

    }

</script>