<div class="row fondoUno">
    <div class="col-9">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active" aria-current="page"><a href="#"
                        id="sucursalSeleccionada">Cuponera</a></li>
                <li class="breadcrumb-item " aria-current="page"><a href="#" id="contadorCupones"></a></li>
                <li class="breadcrumb-item text-success" aria-current="page"><a href="#" id="acumuladorCupones"></a>
                </li>

            </ol>
        </nav>
    </div>


    <div class="col-12" style="max-height:400px; overflow-y: scroll;">
        <table class="table table-bordered table-striped">
            <tbody id="cuerpoCupones">

            </tbody>
        </table>
    </div>
</div>

<script>

    function cambiarEstado(id, estado) {
        if (estado) {
            state = false
        } else {
            state = true
        }
        var refCupon = db.collection("jornadasCuponeras/" + idJornada + "/cupones").doc(id);
        return refCupon.update({
            estado: state
        })
    }
    function seleccionarGanador(id, nombre, apellido, rut) {
        var r = confirm("Esta seguro que desea selecionar como ganador?");
        if (r == true) {
            var refCli = db.collection("cuponera").doc('osorno');
            return refCli.update({
                id: id,
                nombre: nombre + " " + apellido,
                rut: rut
            }).then(() => {
                dibujarTablaCupones();
            })

        }

    }
    acumuladorCont = 0;
    listadoCupones=[]
    $(document).ready(function () {
        console.log(idJornada)
        db.collection("jornadasCuponeras/" + idJornada + "/cupones").orderBy("hora", "desc")
            .onSnapshot(function (queryCup) {
                listadoCupones = [];
                contenidoCupones = "";
                contadorCupones = 0;
                contador = 0;
                acumuladorCont = 0;
                queryCup.forEach(function (docCup) {
                    contadorCupones++;
                    contador++;
                    listadoCupones.push({
                        id:docCup.id,
                        estado:docCup.data().estado,
                        idGanador:docCup.data().id,
                        nombre:docCup.data().nombre,
                        apellido:docCup.data().apellido,
                        rut:docCup.data().rut,
                        hora:docCup.data().hora,
                        monto:docCup.data().monto 
                    })
                    acumuladorCont += parseInt(docCup.data().monto);
                });
                contenidoCupones="";
                dibujarTablaCupones();
            })

    });
    function dibujarTablaCupones() {
        contenidoCupones=""
        contador=0
        listadoCupones.forEach(function(dat){
            contador++;
            clase = ''
                    hora = '';
                    check = "";
                    if (dat.estado == true) {
                        clase2 = ""
                        check = "checked"
                    } else {
                        clase2 = ""
                        check = ""
                        if (contador < 21) {
                        clase = 'table-primary'
                    }
                    }
               
                    if (dat.idGanador == idWinner) {
                        clase2 = "bg-primary"

                    } else {
                        clase2 = ""

                    }

                   
                    hora = dat.hora;

            contenidoCupones += `
                <tr class="`+ clase + `">
                <td class="`+ clase2 + `" > ` + dat.nombre + ` ` + dat.apellido + `</td>
                <td > `+ dat.rut + `</td>
                <td> `+ puntos(dat.monto) + ` <p> ` + hora + `</p></td>
                <td>
                <i class="fas fa-trophy" onclick="seleccionarGanador('`+ dat.idGanador + `','` + dat.nombre + `','` + dat.apellido + `','` + dat.rut + `')"></i>
                <div class="custom-control custom-switch">
                <input type="checkbox" onclick="cambiarEstado('`+ dat.id + `',` + dat.estado + `)" class="custom-control-input" id="swi` + dat.id + `" ` + check + `>
                <label class="custom-control-label" for="swi` + dat.id + `"></label>
                </div></td>    
                </tr>`
        })
        $('#acumuladorCupones').html(puntos(acumuladorCont))
                $("#contadorCupones").html(contadorCupones)
                $('#cuerpoCupones').html(contenidoCupones);
    }

</script>