<div class="col-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item " aria-current="page">Sucursales</li>
            <li class="breadcrumb-item " aria-current="page"><a href="#" id="sucursalSeleccionada">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Clientes</li>
        </ol>
    </nav>
</div>

<div class="col-12">
    <form class="row" onsubmit="registrarSorteo(premio.value,hora.value,local.value); return false">
      
     
        <div class="col-12 col-sm-6">
            <label for="premio">Premio</label>
            <input type="text" class="form-control" id="premio" placeholder="Cual es el premio?" required>
        </div>

        <div class="col-9 col-sm-5 ">
            <label for="hora">Hora</label>
            <input type="time" class="form-control" id="hora" required>
        </div>
        <div class="col-9 col-sm-5 ">
            <label for="local">Local</label>
            <select id="local" class="form-control">
                <option value="osorno">Osorno</option>
                <option value="coyhaique">Coyhaique</option>
            </select>
        </div>
        <div class="col-12 col-sm-6" style="margin-top:30px;">
            <button type="button" class="btn btn-primary"
                onclick="  cargadorModulo('app', 'sorteos', 'listado')">Volver</button>
            <button type="submit" id="boton" class="btn btn-success">Registrar</button>
        </div>

    </form>
</div>


<script>
    function registrarSorteo(premio, hora, local, tipo, modalidad, ganadorMaquina, ganadorCliente) {
        $('#boton').attr('disabled', true)
        db.collection("sorteos").add({
            cobrado:false,
            premio: premio,
            fecha: '',
            hora: hora,
            modalidad: modalidad,
            ganadorMaquina: ganadorMaquina,
            ganadorCliente: ganadorCliente,
            local: local,
            estado: true,
            id: "",
            nombre: "",
            rut: ""
        }).then(function (datos) {
            $('#boton').attr('disabled', true)
            $('#premio').val("")
            $('#hora').val("")
        })
    }
</script>