<div class="row">
    <div class="col-9">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active" aria-current="page"><a href="#" id="sucursalSeleccionada">Sorteos</a>
                </li>

            </ol>
        </nav>
    </div>
    <div class="col-3" style="text-align:right;">
        <button class="btn btn-success" onclick="cargadorModulo('app', 'sorteos', 'agregarCoyhaique');"> Agregar</button>
    </div>

    <div class="col-12" style="max-height:400px; overflow-y: scroll;">
        <table class="table table-bordered table-striped">
            <tbody id="cuerpoSorteos">

            </tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

        dibujarTablaCoyhaique();
    });
    function dibujarTablaCoyhaique() {
        db.collection("sorteos").orderBy("fecha", "desc").get()
            .then(function (queryCup) {
                contenidoSorteos = "";
                queryCup.forEach(function (docCup) {
                    if(docCup.data().local=='coyhaique'){
                        clase = ''
                    hora = '';
                    hora = docCup.data().hora;
                    if (docCup.data().estado == true) {
                        contenidoSorteos += `
                    <tr class="`+ clase + `">
                    <td > `+ docCup.data().fecha + `</td>
                    <td > `+ docCup.data().hora + `</td>
                    <td > `+ docCup.data().premio + `</td>
                    <td> <button class="btn btn-danger" onclick="eliminarSorteo('`+ docCup.id + `')">X</button> </td>
                    </tr>`
                    }
                    }
                 
                });
                $('#cuerpoSorteos').html(contenidoSorteos);
            });
    }

    function eliminarSorteo(aidi) {
        var r = confirm("Esta seguro que desea eliminar el Sorteo?");
        if (r == true) {
            db.collection("sorteos").doc(aidi).delete().then(function () {
                dibujarTabla();
            }).catch(function (error) {
            });
        }
    }
</script>