<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#osorno" role="tab" aria-controls="home"
            aria-selected="true">Osorno</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#coyhaique" role="tab" aria-controls="profile"
            aria-selected="false">Coyhaique</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#todo" role="tab" aria-controls="contact"
            aria-selected="false">Todos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#agregar" role="tab" aria-controls="contact"
            aria-selected="false">Agregar</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="osorno" role="tabpanel" aria-labelledby="home-tab">

        <div class="row">


            <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                <table class="table table-bordered table-striped">
                    <tbody id="cuerpoOsorno">

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="coyhaique" role="tabpanel" aria-labelledby="profile-tab">

        <div class="row fondoUno">

            <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                <table class="table table-bordered table-striped">
                    <tbody id="cuerpoCoyhaique">
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <div class="tab-pane fade" id="todo" role="tabpanel" aria-labelledby="contact-tab">


        <div class="col-12" style="max-height:400px; overflow-y: scroll;">
            <table class="table table-bordered table-striped">
                <tbody id="cuerpoTodos">

                </tbody>
            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="agregar" role="tabpanel" aria-labelledby="profile-tab">
        <div class="col-12">
            <form class="row"
                onsubmit="registrarSorteo(premio.value,hora.value,local.value,tipoSorteo.value, modalidadSorteo.value,ganadorMaquina.value,ganadorCliente.value); return false">

                <div class="col-6 col-sm-6 ">
                    <label for="tipoSorteo">Tipo Sorteo</label>
                    <select id="tipoSorteo" class="form-control"
                        onchange="filtroTipo(tipoSorteo.value,modalidadSorteo.value);">
                        <option value="clientes">Clientes</option>
                        <!-- <option value="maquinas">Maquinas</option> -->
                    </select>
                </div>
                <div class="col-6 col-sm-6 ">
                    <label for="modalidadSorteo">Automatico/Manual</label>
                    <select id="modalidadSorteo" class="form-control"
                        onchange="filtroTipo(tipoSorteo.value,modalidadSorteo.value);">
                        <option value="automatico">Automatico</option>
                        <option value="manual">Manual</option>
                    </select>
                </div>

                <div class="col-6 col-sm-6 " style="display:none;" id="divMaquina">
                    <label for="ganadorMaquina">Maquina ganadora</label>
                    <input type="number" class="form-control" id="ganadorMaquina">
                </div>
                <div class="col-9 col-sm-5 " style="display:none;" id="divCliente">
                    <label for="ganadorCliente">Cliente Ganador</label>
                    <input type="text" class="form-control" id="ganadorCliente" name="z" disabled>

                </div>
                <div class="col-3 col-sm-1 " style="display:none;" id="divBuscar">
                    <label for="local">Buscar</label>
                    <button type="button" class="btn btn-info" onclick="cargarModal()"><i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="col-6 col-sm-6">
                    <label for="premio">Premio</label>
                    <input type="text" class="form-control" id="premio" placeholder="Cual es el premio?" required>
                </div>

                <div class="col-6 col-sm-5 ">
                    <label for="hora">Hora</label>
                    <input type="time" class="form-control" id="hora" required>
                </div>
                <div class="col-6 col-sm-5 ">
                    <label for="local">Local</label>
                    <select id="local" name="local" class="form-control">
                        <option value="osorno">Osorno</option>
                        <option value="coyhaique">Coyhaique</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6" style="margin-top:30px;">
                    <button type="button" class="btn btn-primary"
                        onclick="  cargadorModulo('app', 'sorteos', 'listado')">Volver</button>
                    <button type="submit" id="boton" class="btn btn-success">Registrar</button>
                </div>

            </form>
        </div>
    </div>
</div>


</div>

<div class="modal fade" id="modalClientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ListadoClientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <select class="form-control" onchange="dibujarClientesLocalM(this.value)">
                            <option>
                                Todos
                            </option>
                            <option value="osorno">
                                Osorno
                            </option>
                            <option value="coyhaique">
                                Coyhaique
                            </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" onkeyup="dibujarClientesNomM(this.value); "
                            placeholder="Nombre...">
                    </div>
                    <div class="col-12" style="max-height:400px; overflow-y: scroll;">
                        <table class="table table-bordered table-striped">
                            <tbody id="cuerpoClienteM">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="guardarSeleccionado()"
                    id="botonModal" style="display:none;">Seleccionar</button>
            </div>
        </div>
    </div>
</div>
<script>
    localStorage.winO = ""
    localStorage.winC = ""
    localStorage.idCli = ""
    localStorage.nombreCli = ""
    localStorage.apellidoCli = ""
    localStorage.rutCli = ""
    localStorage.idSorteo = ""
    function dibujarClientesLocalM(locals) {
        mont = 0;
        clase = ''
        hora = '';
        contCli = 0;
        contentClientes = "";
        listClientes.sort(function (x, y) {
            return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
        });
        listClientes.forEach(function (dats) {

            if (dats.sucursal == locals) {
                contCli++;

                if (dats.deshabilitado == true) {
                    desac = "text-decoration: line-through;"
                } else {
                    desac = ""
                }
                if (dats.cupon == true) {

                    estilo = ""
                    if (dats.estado == false) {
                        clase = ""
                        estilo = "background-color: rgba(33, 44, 44, 0.3);"
                    } else {
                        estilo = ""
                        clase = 'table-success'
                    }
                    hora = dats.hora
                    trofeo = `
                    <i class="fas fa-trophy" onclick="seleccionarGanadorM('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `','` + contCli + `')" style="font-size:130%;"></i>
                     `
                } else {
                    clase = ''
                    estilo = ""
                    hora = ''
                    trofeo = `
<i class="fas fa-trophy" onclick="seleccionarGanadorM('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `','` + contCli + `')" style="font-size:130%;"></i>
  `
                }
                contentClientes += `
    <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `" id="id` + dats.id + `">
    <td style="width:30%;" class="`+ clase2 + `" onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)"> ` + dats.nombre + ` ` + dats.apellido + `</td>
    <td style="width:30%;"> `+ dats.rut + `  ` + dats.clasificacion + `</td>
    <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
    <td style="width:10%;">
    `+ trofeo + `
    </td>
    </tr>`
            }
        })
        $('#cuerpoClienteM').html(contentClientes);

    }


    function guardarSeleccionado() {
        if (localStorage.idCl == "") {
            alert("Debe seleccionar a un ganador")
        } else {
            console.log(localStorage.idSorteo + "guardandoModificacion" + localStorage.nombreCli + localStorage.apellidoCli)
            db.collection("sorteos").doc(localStorage.idSorteo).update({
                id: localStorage.idCli,
                nombre: localStorage.nombreCli + " " + localStorage.apellidoCli,
                rut: localStorage.rutCli
            })
            dibujarTablaTodos();
            dibujarTablaCoyhaique();
            dibujarTablaOsorno();
        }



    }
    function cargarModal() {
        $('#botonModal').hide()
        dibujarClientesM();
        $('#modalClientes').modal('show')
    }

    function cargarModalL(ids) {
        console.log(ids)
        localStorage.idSorteo = ids
        localStorage.idCli = ""
        localStorage.nombreCli = ""
        localStorage.apellidoCli = ""
        localStorage.rutCli = ""
        $('#botonModal').show()
        dibujarClientesM();
        $('#modalClientes').modal('show')
    }



    function seleccionarGanadorM(id, nombre, apellido, rut, local, idList) {
        $('#ganadorCliente').val(nombre + " " + apellido);
        localStorage.idCli = id;
        localStorage.nombreCli = nombre;
        localStorage.apellidoCli = apellido;
        localStorage.rutCli = rut;
        dibujarClientesM();
        $('#id' + id).attr("class", "bg-primary")

    }

    function dibujarClientesNomM(nom) {
        mont = 0;
        clase = ''
        hora = '';
        contCli = 0;
        contentClientes = "";
        if (nom == "") {
            dibujarClientesM()
        } else {
            listClientes.sort(function (x, y) {
                return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
            });

            nom = nom.toLowerCase();

            listClientesFiltro = listClientes.filter(function (el) {
                nomActual = el.nombre.toLowerCase();
                return nomActual.startsWith(nom);
            })
            listClientesFiltro.forEach(function (dats) {
                contCli++;

                if (dats.deshabilitado == true) {
                    desac = "text-decoration: line-through;"
                } else {
                    desac = ""
                }
                if (dats.cupon == true) {

                    estilo = ""
                    if (dats.estado == false) {
                        clase = ""
                        estilo = "background-color: rgba(33, 44, 44, 0.3);"
                    } else {
                        estilo = ""
                        clase = 'table-success'

                    }


                    hora = dats.hora
                    trofeo = `
            <i class="fas fa-trophy" onclick="seleccionarGanadorM('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `','` + contCli + `')" style="font-size:130%;"></i>
              `
                } else {
                    clase = ''
                    estilo = ""
                    hora = ''
                    trofeo = `
            <i class="fas fa-trophy" onclick="seleccionarGanadorM('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `','` + contCli + `')" style="font-size:130%;"></i>
              `
                }

                contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `" id="id` + dats.id + `">
                <td style="width:30%;" class="`+ clase2 + `" onclick="cargarModificarCli('` + dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.clasificacion + `','` + dats.sucursal + `','` + dats.monto + `',` + dats.contador + `)"> ` + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;"> `+ dats.rut + `  ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:10%;">
                `+ trofeo + `
                </td>
                </tr>`
            })

            $('#cuerpoClienteM').html(contentClientes);

        }

    }
    function dibujarClientesM() {
        mont = 0;
        clase = ''
        hora = '';
        contCli = 0;
        contentClientes = "";
        listClientes.sort(function (x, y) {
            return (x.estado === y.estado) ? 0 : x.estado ? -1 : 1;
        });
        listClientes.forEach(function (dats) {
            contCli++;

            if (dats.deshabilitado == true) {
                desac = "text-decoration: line-through;"
            } else {
                desac = ""
            }
            if (dats.cupon == true) {

                estilo = ""
                if (dats.estado == false) {
                    clase = ""
                    estilo = "background-color: rgba(33, 44, 44, 0.3);"
                } else {
                    estilo = ""
                    clase = 'table-success'

                }


                hora = dats.hora
                trofeo = `
            <i class="fas fa-trophy" onclick="seleccionarGanadorM('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `','` + contCli + `')" style="font-size:130%;"></i>
              `
            } else {
                clase = ''
                estilo = ""
                hora = ''
                trofeo = `
            <i class="fas fa-trophy" onclick="seleccionarGanadorM('`+ dats.id + `','` + dats.nombre + `','` + dats.apellido + `','` + dats.rut + `','` + dats.sucursal + `','` + contCli + `')" style="font-size:130%;"></i>
              `
            }

            contentClientes += `
                <tr style='font-size:70%;`+ desac + estilo + `' class="` + clase + `" id="id` + dats.id + `">
                <td style="width:30%;" class="`+ clase2 + `" > ` + dats.nombre + ` ` + dats.apellido + `</td>
                <td style="width:30%;"> `+ dats.rut + `  ` + dats.clasificacion + `</td>
                <td style="width:15%;"> `+ dats.sucursal + ` <p> ` + hora + `</p></td>
                <td style="width:10%;">
                `+ trofeo + `
                </td>
                </tr>`
        })

        $('#cuerpoClienteM').html(contentClientes);

    }
    function filtroTipo(valor, modalidad) {
        if (valor == "clientes") {
            if (modalidad == "automatico") {
                $('#divMaquina').hide();
                $('#divCliente').hide();
                $('#divBuscar').hide();
            } else {
                $('#divMaquina').hide();
                $('#divCliente').show();
                $('#divBuscar').show();
            }

        } else {

            if (modalidad == "automatico") {
                $('#divMaquina').hide();
                $('#divCliente').hide();
                $('#divBuscar').hide();
            } else {
                $('#divMaquina').show();
                $('#divCliente').hide();
                $('#divBuscar').hide();

            }


        }
        $('#ganadorMaquina').val("")
        $('#ganadorCliente').val("")
    }

    function registrarSorteo(premio, hora, local, tipSorteo, modSorteo, ganMaquina) {
        $('#boton').attr("disabled", true);

        ganCliente = $('#ganadorCliente').val()
        if (tipSorteo == "clientes") {
            if (modSorteo == "manual") {
                if (localStorage.idCli == "") {
                    alert("Debe seleccionar un cliente como ganador")
                    $('#boton').removeAttr("disabled");
                } else {
                    db.collection("sorteos").add({
                        premio: premio,
                        fecha: '',
                        tipoSorteo: tipSorteo,
                        modalidadSorteo: modSorteo,
                        ganadorMaquina: ganMaquina,
                        ganadorCliente: ganCliente,
                        hora: hora,
                        local: local,
                        estado: true,
                        minuto: false,
                        id: localStorage.idCli,
                        nombre: localStorage.nombreCli + " " + localStorage.apellidoCli,
                        rut: localStorage.rutCli,
                        lanzado: false
                    }).then(function (datos) {
                        localStorage.idCli = ""
                        localStorage.nombreCli = ""
                        localStorage.apellidoCli = ""
                        localStorage.rutCli = ""
                        $('#premio').val("")
                        $('#fecha').val("")
                        $('#hora').val("")
                        $('#ganadorMaquina').val('')
                        $('#ganadorCliente').val('')
                        $('#boton').removeAttr("disabled");
                        dibujarTablaTodos();
                        dibujarTablaCoyhaique();
                        dibujarTablaOsorno();
                    })
                }
            } else {
                db.collection("sorteos").add({
                    premio: premio,
                    fecha: '',
                    tipoSorteo: tipSorteo,
                    modalidadSorteo: modSorteo,
                    ganadorMaquina: ganMaquina,
                    ganadorCliente: ganCliente,
                    hora: hora,
                    local: local,
                    estado: true,
                    id: "",
                    nombre: "",
                    rut: ""
                }).then(function (datos) {
                    $('#premio').val("")
                    $('#fecha').val("")
                    $('#hora').val("")
                    $('#ganadorMaquina').val('')
                    $('#ganadorCliente').val('')
                    $('#boton').removeAttr("disabled");
                    dibujarTablaTodos();
                    dibujarTablaCoyhaique();
                    dibujarTablaOsorno();
                    localStorage.idCli = ""
                    localStorage.nombreCli = ""
                    localStorage.apellidoCli = ""
                    localStorage.rutCli = ""
                })

            }
        } else {
            if (tipSorteo == "maquinas" && modSorteo == "manual" && ganMaquina != "") {
                db.collection("sorteos").add({
                    premio: premio,
                    fecha: '',
                    tipoSorteo: tipSorteo,
                    modalidadSorteo: modSorteo,
                    ganadorMaquina: ganMaquina,
                    ganadorCliente: ganCliente,
                    hora: hora,
                    local: local,
                    estado: true,
                    id: "",
                    nombre: "",
                    rut: ""

                }).then(function (datos) {
                    $('#premio').val("")
                    $('#fecha').val("")
                    $('#hora').val("")
                    $('#ganadorMaquina').val('')
                    $('#ganadorCliente').val('')
                    $('#boton').removeAttr("disabled");
                    dibujarTablaTodos();
                    dibujarTablaCoyhaique();
                    dibujarTablaOsorno();
                    $('#boton').removeAttr("disabled");
                })
            } else {
                alert("Debe seleccionar una maquina ganadora")
                $('#boton').removeAttr("disabled");
            }
        }


    }
    $(document).ready(function () {
        dibujarTablaTodos();
        dibujarTablaCoyhaique();
        dibujarTablaOsorno();
        dibujarClientesM();
    });
    function dibujarTablaTodos() {
        db.collection("sorteos").orderBy("hora", "desc").get()
            .then(function (queryCup) {
                contenidoSorteoTodos = "";
                queryCup.forEach(function (docCup) {
                    console.log(docCup.data())
                    clase = ''
                    hora = '';
                    hora = docCup.data().hora;
                    if (docCup.data().estado == true) {
                        status = ""

                    } else {
                        status = "text-decoration: line-through;"
                    }
                    ganador = ""
                    trof = ""
                    if (docCup.data().tipoSorteo == "clientes" && docCup.data().modalidadSorteo == "manual") {
                        console.log("ganadorC")
                        ganador = docCup.data().nombre
                        if (docCup.data().estado == true) {
                            trof = `<i class="fas fa-trophy" style="font-size:130%;" onclick="cargarModalL('` + docCup.id + `')"></i>`
                        }
                    }



                    if (docCup.data().tipoSorteo == "maquinas" && docCup.data().modalidadSorteo == "manual") {
                        ganador = docCup.data().ganadorMaquina
                    }

                    contenidoSorteoTodos += `
                    <tr class="`+ clase + `" style="` + status + `">
                    <td > `+ docCup.data().hora + `<p> ` + docCup.data().premio + `</p></td>
                    <td > `+ docCup.data().tipoSorteo + `</td>
                    <td > `+ docCup.data().modalidadSorteo + `<p> ` + ganador + `</p></td>
                    <td> <button class="btn btn-danger" onclick="eliminarSorteo('`+ docCup.id + `')">X</button>
                     `+ trof + `
                        </td>
                    </tr>`

                });
                $('#cuerpoTodos').html(contenidoSorteoTodos);
            });
    }
    function dibujarTablaCoyhaique() {
        db.collection("sorteos").orderBy("hora", "desc").get()
            .then(function (queryCup) {
                contenidoCoyhaique = "";
                queryCup.forEach(function (docCup) {
                    if (docCup.data().local == 'coyhaique') {
                        clase = ''
                        hora = '';
                        hora = docCup.data().hora;
                        if (docCup.data().estado == true) {
                            status = ""

                        } else {
                            status = "text-decoration: line-through;"
                        }
                        trof = ""
                        ganadorC = ""
                        if (docCup.data().tipoSorteo == "clientes" && docCup.data().modalidadSorteo == "manual") {
                            console.log("ganadorC")
                            ganadorC = docCup.data().nombre
                            if (docCup.data().estado == true) {
                                trof = `<i class="fas fa-trophy" style="font-size:130%;" onclick="cargarModalL('` + docCup.id + `')"></i>`
                            }
                        }
                        if (docCup.data().tipoSorteo == "maquinas" && docCup.data().modalidadSorteo == "manual") {
                            ganadorC = docCup.data().ganadorMaquina
                        }
                        if (docCup.data().tipoSorteo == "minutoFeliz") {

                        } else {
                            contenidoCoyhaique += `
                    <tr class="`+ clase + `" style="` + status + `">
                    <td > `+ docCup.data().hora + `<p> ` + docCup.data().premio + `</p></td>
                    <td style="font-weigth:600;"> `+ docCup.data().tipoSorteo + `</td>
                    <td > `+ docCup.data().modalidadSorteo + `<p> ` + ganadorO + `</p></td>
                    <td> <button class="btn btn-danger" onclick="eliminarSorteo('`+ docCup.id + `')">X</button>
                    `+ trof + `  </td>
                    </tr>`
                        }
                    }



                });
                $('#cuerpoCoyhaique').html(contenidoCoyhaique);
            });
    }
    function dibujarTablaOsorno() {
        db.collection("sorteos").orderBy("hora", "desc").get()
            .then(function (queryCup) {
                contenidoOsorno = "";
                queryCup.forEach(function (docCup) {
                    if (docCup.data().local == local) {
                        clase = ''
                        hora = '';
                        hora = docCup.data().hora;
                        if (docCup.data().estado == true) {
                            status = ""

                        } else {
                            status = "text-decoration: line-through;"
                        }
                        ganadorO = ""
                        trof = ""
                        if (docCup.data().tipoSorteo == "clientes" && docCup.data().modalidadSorteo == "manual") {
                            ganadorO = docCup.data().nombre;
                            if (docCup.data().estado == true) {
                                trof = `<i class="fas fa-trophy" style="font-size:130%;" onclick="cargarModalL('` + docCup.id + `')"></i>`
                            }

                        }
                        if (docCup.data().tipoSorteo == "maquinas" && docCup.data().modalidadSorteo == "manual") {
                            ganadorO = docCup.data().ganadorMaquina
                        }

                        if (docCup.data().tipoSorteo == "minutoFeliz") {

                        } else {
                            contenidoOsorno += `
                    <tr class="`+ clase + `" style="` + status + `">
                    <td > `+ docCup.data().hora + `<p> ` + docCup.data().premio + `</p></td>
                    <td style="font-weigth:600;"> `+ docCup.data().tipoSorteo + `</td>
                    <td > `+ docCup.data().modalidadSorteo + `<p> ` + ganadorO + `</p></td>
                    <td> <button class="btn btn-danger" onclick="eliminarSorteo('`+ docCup.id + `')">X</button>
                        `+ trof + `  </td>
                    </tr>`
                        }

                    }
                });
                $('#cuerpoOsorno').html(contenidoOsorno);
            });
    }

    function eliminarSorteo(aidi) {
        var r = confirm("Esta seguro que desea eliminar el Sorteo?");
        if (r == true) {
            db.collection("sorteos").doc(aidi).delete().then(function () {
                dibujarTablaTodos();
                dibujarTablaCoyhaique();
                dibujarTablaOsorno();
            }).catch(function (error) {
            });
        }
    }
</script>